$primary_color: #E0E0E0;
$active_color: rgb(17, 16, 16);
$primary_size: 14px;
$primary_spacing: 3%;
$secondary_gap: 10px;
$secondary_border_radius: 44px;
$text-main: #e0e0e0;
$text-secondary: #a7a7a7;
$accent: #1ed760;
$border: #2a2a2a;
$bg:#202020;
$text:#e5e5e5;
$gray:#b3b3b3;
$green:#1db954;
