.aside_nav {
    padding-top: 20px;
    width: 248px;

    .main_pages {
        display: flex;
        flex-direction: column;
        gap:11px;

        .each_page {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        a{
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 3%;
            color: #898989;
        }
        a:hover {
            font-size: 18px;
            font-weight: 600;
            transition: all 0.1s ease;
        }
        a:active {
            color: white;
        }
    }

}